@use 'variables';

@mixin spaced($spacing: variables.$space) {
  > :not(:last-child) {
    margin-right: $spacing;
  }
}

@mixin spaced-vertical($spacing: variables.$space) {
  > :not(:last-child) {
    margin-bottom: $spacing;
  }
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
